.abasTest{
    display: block;
    height: 40vh;
    width: 90vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: black;
}

.AbasCorpo{
    display: flex;
    flex-direction: row;

}
.AbasCorpo .AbasNovidades{
    display: flex;
    flex-direction: column;
    width: 70vw;
    font-size: clamp(1vh,1.2em,1.6vw);
}
.AbasCorpo .AbasNovidades h1{
    margin-left: 5vw;
    font-size: clamp(1.5vh,3em,3vw);
}
.AbasCorpo .AbasDivBarNovidades{
    align-self: center;
    background-color: black;
    width: 86%;
    height: 0.1vh;
}
.AbasCorpo .AbasNovidades .AbasNovidadesArtigos1{
    margin-left: 5vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    height: 35vh;
    color: black;
}
.AbasCorpo .AbasNovidades .AbasNovidadesArtigos1:hover{
    text-decoration: none;
    color: rgb(72, 70, 70);
}
.AbasCorpo .AbasNovidades .AbasNovidadesArtigos1 img{
    border-radius: 10px;
    height: 33vh;
    width: 18vw;
}
.AbasCorpo .AbasNovidades .AbasNovidadesArtigos1 p{
    width: 35vw;
    margin-left: 5vw;
    text-align: justify;
    text-indent: 2vw;
}
.AbasCorpo .AbasNovidades .AbasNovidadesArtigos1 .AbasNovidadesArtigos1TextBoxSubTitle{
    font-size: 0.8em;
    text-indent: 0vw;
    color: rgba(36, 35, 35, 0.788);
}