*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    height: 28vh;
    background-color: #1A2875;
    display: flex;
    position: absolute;
    top: 260vh;
}
.leftsidefooter{
    width: 50%;
    height: 100%;
}
footer .logo{
    height: 7.5vh;
    position: relative;
    top: 7vh;
    left: 8vw;
}
.footerlinha{
    background-color: white;
    width: 19.5vw;
    height: 0.35vh;
    position: relative;
    top: 8vh;
    left: 8.80vw;
}
.sloganfooter{
    color: white;
    font-size: clamp(18px, 10%, 18px);
    width: 235px;
    height: 20px;
    text-align: center;
    position: relative;
    top: 9vh;
    left: 7.9vw;
}
.rightsidefooter{
    width: 50%;
    height: 100%;
}
footer .face{
    width: 3.5vw;
    position: relative;
    top: 7.5vh;
    left: 6.5vw;
}
footer .tt{
    width: 3.5vw;
    position: relative;
    top: 7.5vh;
    left: 7.5vw;
}
footer .em2{
    width: 3.5vw;
    position: relative;
    top: 14.5vh;
    right: 1.7vw;
}
footer .ins{
    width: 3.5vw;
    position: relative;
    top: 14.5vh;
}
header{
    display: flex;
    flex-direction: column;
    height: 23vh;
    background-color: #1A2875;
}
header div{
    display: flex;
    align-items: center;
    height: 18vh;
    width: 100%;
}
header div .HomeLogo{
    display: flex;
    height: 10vh;
    width: 27vw;
    margin-left: 3vw;
    background: url(../../img/LogoNewColor.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
header .headersearch{
    height: 7vh;
    width: 18vw;
    margin-left: 45vw;
    border-radius: 5px;
    border: none;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.1em;
    background: url(../../img/lupa.png);
    background-color: rgba(0, 0, 0, 0.315);
    background-position-x: 14.5vw;
    background-position-y:center ;
    background-size: 10%;
    background-repeat: no-repeat;
}
header .headersearch:focus{
    outline: 0ch;
}
header .headersearch::placeholder{
    color: white;
}
header div .Account{
    margin-left: 1.5vw;
    height: 7vh;
    width: 7vh;
    background: url(../../img/AccountIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
header nav{
    display: flex;
    align-items: center;
    background-color: #141F5C;
    justify-content: space-evenly;
    height: 5vh;
    width: 100%;
}
header nav a{
    color: white;
    text-decoration: none;
}
.navseparationbar{
    display: block;
    border-right: solid 1px white;
    height: 3vh;
}

.corpo{
    display: flex;
    justify-content: row;
}
.corpo .ArtigoNoticia{
    display: flex;
    width: 70vw;
}
main .NoticiaTopo{
    display: flex;
    justify-content: center;
}
main .PropagandaNoticia{
    width: 110vh;
    height: 20ch;
    background-color: rgba(128, 128, 128, 0.349);
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170vh;
    width: 30vw;
}
aside .divbaraside{
    display: block;
    margin-top: 5vh;
    background-color: rgba(0, 0, 0, 0.795);
    height: 0.05em;
    width: 85%;
}
aside .divbaraside2{
    display: block;
    background-color: rgba(0, 0, 0, 0.795);
    height: 0.04em;
    width: 100%;
}
aside .MaisLidos{
    margin-top: 5vh;
    height: 90.5vh;
    width: 85%;
}
aside .MaisLidos h1{
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2vh;
}
aside .MaisLidos .ArtigosMaisLidos{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
aside .MaisLidos .ArtigosMaisLidos .box1MaisLidos h3{
    font-weight:bold;
}
aside .MaisLidos .ArtigosMaisLidos .box1MaisLidos p{
    margin-top: 2vh;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.541);
}
aside .MaisLidos .ArtigosMaisLidos .box2MaisLidos{
    background-color: black;
    border-radius: 10px;
    height: 15vh;
    width: 10vw;
}
aside .AsidePropaganda .AsidePropagandaImg{
    background-color: black;
    height: 30vh;
    width: 25vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 10px;
}
.login{
    background-color: #141F5C;
    max-width: 350px;
    min-height: 450px;
    color: white;
    margin: auto;
    margin-top: 15%;
}
.login img{
    height: 33px;
    margin-top: 10%;
    margin-left: 20%;
}
.inputEmail{
    margin-top: 10%;
    margin-left: 25px;
}
.inputEmail h4{
    font-size: 15px;
}
.inputEmail input{
    background: url(../../img/Email.png) white no-repeat;
    background-size: 1.5em;
    background-position: 20em 0.6em;
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    outline: none;
    padding-left: 5px;
}
.inputEmail input:focus{
    background-color: whitesmoke;
}
.inputPassword{
    margin-top: 10%;
    margin-left: 25px;
}
.inputPassword h4{
    font-size: 15px;
}
.inputPassword input{
    background: url(../../img/eye.png) white no-repeat;
    background-size: 1.8em;
    background-position: 20em 0.5em;
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    outline: none;
    padding-left: 5px;
}
.inputPassword input:focus{
    background-color: whitesmoke;
}
.inputPassword h5{
    float: right;
    text-decoration: none;
    color: #206EF5;
    margin-right: 8%;
    margin-top: 1%;
}
.loginButton{
    margin-top: 15%;
    margin-left: 27%;
}
.loginButton input{
    background-color: #1A2875;
    width: 60%;
    min-height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.redirectionPage hr{
    width: 80%;
    margin-top: 10%;
    margin-left: 8%;
}
.redirectionPage h3{
    font-size: 15px;
    display: inline-block;
    margin-top: 2%;
    margin-left: 12%;
}
.redirectionPage a h3{
    color: #206EF5;
    text-decoration: none;
    margin-left: -0.1%;
}
.register{
    background-color: #141F5C;
    max-width: 350px;
    min-height: 450px;
    color: white;
    margin: auto;
    margin-top: 15%;
}
.register img{
    height: 33px;
    margin-top: 10%;
    margin-left: 20%;
}
.registerUser{
    margin-top: 10%;
    margin-left: 25px;
}
.registerUser h3{
    font-size: 15px;
}
.registerUser input{
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    padding-left: 5px;
    outline: none;
}
.registerEmail{
    margin-top: 10%;
    margin-left: 25px;
}
.registerEmail h3{
    font-size: 15px;
}
.registerEmail input{
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    padding-left: 5px;
    outline: none;
}
.registerPassword{
    margin-top: 10%;
    margin-left: 25px;
}
.registerPassword h3{
    font-size: 15px;
}
.registerPassword input{
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    padding-left: 5px;
    outline: none;
}
.registerButton{
    margin-top: 30px;
    margin-left: 100px;
}
.registerButton input{
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #1A2875;
    width: 60%;
    min-height: 40px;
}
.forgotPassword{
    background-color: #141F5C;
    max-width: 350px;
    min-height: 350px;
    color: white;
    margin: auto;
    margin-top: 15%;
}
.forgotPassword img{
    height: 33px;
    margin-top: 10%;
    margin-left: 20%;
}
.forgotPassword h3{
    font-size: 15px;
}
.forgotPassword-email{
    margin-top: 10%;
    margin-left: 25px;
}
.forgotPassword-email input{
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    padding-left: 5px;
    outline: none;
}
.forgotPassword-button{
    margin-top: 30px;
    margin-left: 20%;
}
.forgotPassword-button input{
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #1A2875;
    width: 70%;
    min-height: 40px;
}
.forgotPassword-guide{
    font-size: 15px;
    width: 85%;
    margin: 6% 7%;
}
.forgotPassword-guide p{
    text-align: justify;
}
