aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}
aside .divbaraside{
    display: block;
    margin-top: 1vh;
    background-color: rgba(0, 0, 0, 0.795);
    height: 0.1vh;
    width: 85%;
}
aside .divbaraside2{
    display: block;
    background-color: rgba(0, 0, 0, 0.795);
    height: 0.04vh;
    width: 100%;
}
aside .MaisLidos{
    margin-top: 5vh;
    width: 85%;
}
aside .MaisLidos h1{
    font-size: clamp(1vh,2em,3vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2vh;
}
aside .MaisLidos .ArtigosMaisLidos{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 3vh;
    height:25vh ;
}
aside .MaisLidos .ArtigosMaisLidos .box1MaisLidos h3{
    font-weight:bold;
    font-size:clamp(0.6vh,1.7em,3vw) ;
}
aside .MaisLidos .ArtigosMaisLidos .box1MaisLidos p{
    margin-top: 2vh;
    font-size: clamp(0.3vh,0.7em,2vw);
    color: rgba(0, 0, 0, 0.541);
}
aside .MaisLidos .ArtigosMaisLidos .box2MaisLidos{
    background-color: black;
    border-radius: 10px;
    height: 15vh;
    width: 10vw;
}
aside .AsidePropaganda{
    width: 85%;
}
aside .AsidePropaganda .AsidePropagandaImg{
    background-color: black;
    height: 30vh;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 10px;
}