*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x: hidden;
}
main{
    height: 100%;
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    height: 23vh;
    background-color: #1A2875;
}
header div{
    display: flex;
    align-items: center;
    height: 18vh;
    width: 100%;
}
header div .HomeLogo{
    display: flex;
    height: 10vh;
    width: 20vw;
    margin-left: 3vw;
    background: url(../../img/LogoNewColor.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
header .headersearch{
    color: white;
    height: 7vh;
    width: 18vw;
    margin-left: 50vw;
    border-radius: 5px;
    border: none;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.1em;
    background: url(../../img/lupa.png);
    background-color: rgba(0, 0, 0, 0.315);
    background-position-x: 14.5vw;
    background-position-y:center ;
    background-size: 10%;
    background-repeat: no-repeat;
}
header .headersearch:focus{
    outline: 0ch;
}
header .headersearch::placeholder{
    font-size: clamp(0.6vh,1em,2vw);
    align-self: center;
    justify-self: center;
    color: white;
}
header div .Account{
    margin-left: 1.5vw;
    height: 7vh;
    width: 7vh;
    background: url(../../img/AccountIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
header nav{
    display: flex;
    align-items: center;
    background-color: #141F5C;
    justify-content: space-evenly;
    height: 5vh;
    width: 100%;
}
header nav a{
    color: white;
    text-decoration: none;
    font-size: clamp(0.6vh,1em,2vw);
}
header nav a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.74);   
}
.navseparationbar{
    display: block;
    border-right: solid 1px white;
    height: 3vh;
}
.login{
    background-color: #141F5C;
    max-width: 350px;
    min-height: 530px;
    color: white;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 1px 10px white;
}
.login img{
    height: 33px;
    margin-top: 14%;
    margin-left: 20%;
}
.inputEmail{
    margin-top: 13%;
    margin-left: 25px;
}
.inputEmail h4{
    font-size: 15px;
}
.inputEmail input{
    background: url(../../img/Email.png) white no-repeat;
    background-size: 1.5em;
    background-position: 20em 0.6em;
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    outline: none;
    padding-left: 5px;
}
.inputEmail input:focus{
    background-color: whitesmoke;
}
.inputPassword{
    margin-top: 10%;
    margin-left: 25px;
}
.inputPassword h4{
    font-size: 15px;
}
.inputPassword input{
    background: url(../../img/eye.png) white no-repeat;
    background-size: 1.8em;
    background-position: 20em 0.5em;
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    outline: none;
    padding-left: 5px;
}
.inputPassword input:focus{
    background-color: whitesmoke;
}
.inputPassword h5{
    float: right;
    text-decoration: none;
    color: #206EF5;
    margin-right: 8%;
    margin-top: 1%;
}
.loginButton{
    margin-top: 18%;
    margin-left: 27%;
}
.loginButton input{
    background-color: #1A2875;
    width: 60%;
    min-height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.redirectionPage hr{
    width: 80%;
    margin-top: 13%;
    margin-left: 8%;
}
.redirectionPage h3{
    font-size: 15px;
    display: inline-block;
    margin-top: 2%;
    margin-left: 12%;
}
.redirectionPage a h3{
    color: #206EF5;
    text-decoration: none;
    margin-left: -0.1%;
}
.register{
    background-color: #141F5C;
    max-width: 350px;
    min-height: 530px;
    color: white;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 1px 10px white;
}
.register img{
    height: 33px;
    margin-top: 14%;
    margin-left: 20%;
}
.registerUser{
    margin-top: 12%;
    margin-left: 25px;
}
.registerUser h3{
    font-size: 15px;
}
.registerUser input{
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    padding-left: 5px;
    outline: none;
}
.registerEmail{
    margin-top: 12%;
    margin-left: 25px;
}
.registerEmail h3{
    font-size: 15px;
}
.registerEmail input{
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    padding-left: 5px;
    outline: none;
}
.registerPassword{
    margin-top: 12%;
    margin-left: 25px;
}
.registerPassword h3{
    font-size: 15px;
}
.registerPassword input{
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    padding-left: 5px;
    outline: none;
}
.registerButton{
    margin-top: 15%;
    margin-left: 100px;
}
.registerButton input{
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #1A2875;
    width: 60%;
    min-height: 40px;
}
.forgotPassword{
    background-color: #141F5C;
    max-width: 350px;
    min-height: 350px;
    color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 1px 10px white;
}
.forgotPassword img{
    height: 33px;
    margin-top: 10%;
    margin-left: 20%;
}
.forgotPassword h3{
    font-size: 15px;
}
.forgotPassword-email{
    margin-top: 10%;
    margin-left: 25px;
}
.forgotPassword-email input{
    border: none;
    border-radius: 5px;
    width: 90%;
    min-height: 35px;
    padding-left: 5px;
    outline: none;
}
.forgotPassword-button{
    margin-top: 30px;
    margin-left: 20%;
}
.forgotPassword-button input{
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #1A2875;
    width: 70%;
    min-height: 40px;
}
.forgotPassword-guide{
    font-size: 15px;
    width: 85%;
    margin: 6% 7%;
}
.forgotPassword-guide p{
    text-align: justify;
}
.notq-1{
    background-color: #206EF5;
    height: 22.5vh;
    width: 45vh;
    float: left;
}
.notq-2{
    background-color: #206EF5;
    height: 22.5vh;
    width: 45vh;
    float: left;
}
.notq-3{
    background-color: #206EF5;
    height: 22.5vh;
    width: 45vh;
    float: left;
}
.news-group1{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.news-group1 img{
    width: 600px;
    height: 300px;
}
.news-group2{
    display: flex;
    justify-content: center;
}
.news-group2 img{
    margin-top: 2%;
    width: 1200px;
    height: 400px;
}
.news-group3, .news-group4, .news-group5{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.news-group3 .group3-img, .news-group4 .group4-img, .news-group5 .group5-img{
    margin: 2%;
    border-radius: 10px;
    max-width: 100%;
    width: 600px;
    min-height: 250px;
    background-color: black;
}
.news-group3 span h2, .news-group3 span h3, .news-group4 span h2, .news-group4 span h3, .news-group5 span h2, .news-group5 span h3{ 
    width: 80%;
    margin-left: 5%;
}
.news-group3 span h2, .news-group4 span h2, .news-group5 span h2{
    margin-top: 3%;
    font-size: clamp(1.5vh,3em,3vw);
}
.news-group3 span h3, .news-group4 span h3, .news-group5 span h3{
    font-size: 20px;
    font-size: clamp(1vh,1.2em,1.6vw);
}
.news-group5{
    margin-bottom: 5%;
}
.box1noticia{
    margin-top: 2vh;
    font-size: 0.7em;
    background-color: rgb(0, 0, 0);
    height: 20vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
}

.titulonoticia{
    text-align: center;
    margin-top: 5vw;
}

.divbarnotice{
    display: block;
    margin-top: 5vh;
    background-color: black;
    height: 0.05em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.box2noticia{
    margin-top: 2vh;
    font-size: 0.7em;
    background-color: rgb(0, 0, 0);
    height: 60vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
}
figcaption{
    margin-left: 15vw;
    color: black;
}
.pnoticia1{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 72%;
    color: black;
    font-size: clamp(0.5rem, 1.2vw, 1.35rem);
}
.pnoticia2{
    width: 72%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    color: black;
    font-size: clamp(0.5rem, 1.2vw, 1.35rem);
} 
.texto_not{
    width: 100%;
    height: 110vh;   
    border: black 1px solid;
    margin-top: 10vh;
}


